@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-font {
    font-family: var(--font-inter);
}

.mono-font {
    font-family: var(--font-mono);
}

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll {
    animation: scroll 70s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}
