@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-font {
    font-family: var(--font-inter);
}

.mono-font {
    font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
